<script>
  import { tempAndHourToYeastMaping } from './yeastData';
  let selectedTemp = 21;
  let tempOptions = [19, 21, 23, 25];

  let flourRatio = 1;
  let waterRatio = 0.66;
  let saltRatio = 0.028;

  let numOfPizzas = 8;
  let doughWeight = 194;
  let extra_dough_weight = 80;

  // If temp is changed we choose the 2nd option in that list (e.g. 0.25g yeast option).
  $: selectedHourYeast = tempAndHourToYeastMaping[selectedTemp][1];
  $: selectedYeastRatio = selectedHourYeast.yeast
  $: fermentationTime = selectedHourYeast.hour
  $: multiplier =
    Math.ceil(
      (numOfPizzas * doughWeight) /
        (flourRatio + waterRatio + saltRatio + selectedYeastRatio)
    ) + extra_dough_weight;
</script>

<section>
  <table class="input-table">

    <tbody>
      <tr>
        <td>Number of pizzas</td>
        <td><input type="number" bind:value={numOfPizzas} min="1" /></td>
      </tr>
      <tr>
        <td>Dough weight per pizza (g)</td>
        <td><input type="number" bind:value={doughWeight} min="100" /></td>
      </tr>
      <tr>
        <td>Hydration ratio</td>
        <td>
          <input type="number" bind:value={waterRatio} step="0.01" min="0.55" max="0.90" />
        </td>
      </tr>
      <tr>
        <td>Measurement dough (g)</td>
        <td><input type="number" bind:value={extra_dough_weight} min="0" /></td>
      </tr>
      <tr>
        <td>Room temp</td>
        <td>
          <select bind:value={selectedTemp}>
            {#each tempOptions as value}<option {value}>{value} °C</option>{/each}
          </select>
        </td>
      </tr>
      <tr>
        <td>Total fermentation time</td>
        <td>
          <select bind:value={selectedHourYeast}>
            {#each tempAndHourToYeastMaping[selectedTemp] as option}
              <option value={option}>{option.hour} h</option>
            {/each}
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <h2>Ingredients</h2>
  <ul>
    <li>{flourRatio * multiplier} g flour</li>
    <li>{(waterRatio * multiplier).toFixed(0)} g water</li>
    <li>{(saltRatio * multiplier).toFixed(0)} g salt</li>
    <li>{(selectedYeastRatio * multiplier).toFixed(2)} g fresh yeast</li>
  </ul>
  <h2>Go about</h2>
  <ol>
    <li>
      Dissolve the yeast in a little bit of the water, in a big bowl. When fully
      dissolved pour in the rest of the water.
    </li>
    <li>Dissolve the salt in the same water.</li>
    <li>
      Pour in the flour in the water. Work the dough with your hands or a
      spatula until it is fully integrated.
    </li>
    <li>Let the dough rest for 30 minutes with a cover.</li>
    <li>
      Fold the dough 4-6 times with the 'French folding' technique. Let it rest
      for 15 minutes.
    </li>
    <li>Do the above 2 more times.</li>
    {#if extra_dough_weight > 0}
      <li>
        Pinch {extra_dough_weight} g from the dough. Do a small french fold, and
        put it in a glass cup covered with a plastic wrap.
      </li>
    {/if}
    <li>
      Now let the dough rest for about {fermentationTime / 2} hours in room temperature
      (ca. {selectedTemp}°C).
    </li>
    <li>
      Create small balls (with french folding technique) of à {doughWeight} g and
      put them in small plastic jars.
    </li>
    <li>Let them rest in another {fermentationTime / 2} hours.</li>
    {#if extra_dough_weight > 0}
      <li>
        When the dough in the glass cup has doubled in size then it is ready.
      </li>
    {/if}
    <li>
      Now put whatever you want on your pizza and bake it at about 400-450
      degrees (°C).
    </li>
  </ol>

  Congratulation to your Neapolitan pizza!

</section>
