:root {
  font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  margin-bottom: -5px;
  margin-top: 30px;
}

.card {
  padding: 2em;
  text-align: left;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 4em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5%;
}

.input-table {
  text-align: left;
}

.input-table td {
  padding-right: 20px;
}

input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
  border: 2px solid #757575;
  border-radius: 3px;
  padding: 2px 0 2px 5px;
}

select {
  border: 2px solid #757575;
  padding: 2px 0 2px 5px;
  border-radius: 3px;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  select {
    background-color: white;
  }
}
